<!DOCTYPE html>
<html lang="en">
<head>
  <title>EMPLOYEES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/angular-1.5.8/angular.js"></script>
    <script src="/angular-1.5.8/angular.min.js"></script>
    
    <script src="/js/jquery-3.1.0.js"  type="text/javascript"></script>
    <script src="/js/employeesView.js"  type="text/javascript"></script>
    <link rel="stylesheet" href="/css/index.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
    
  
    
</head>
<body ng-app="employeeView" >
<div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>    
          <a class="navbar-brand" href="#">Welcome</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/pages/employeeView.html">Home</a></li>
           <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Create<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="newEmployee"><a href="#">New Employee</a></li>
                <li id="newStage"><a href="#">New Stage</a></li>
                <li id="newProject"><a href="#">New Project</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="addStage"><a href="#">Stage to Project</a></li>
                <li id="addMaterials1"><a href="#">Materials to Stage</a></li>
                <li id="addStageMaterial" role="button" data-toggle="modal" data-target="#stageMaterialModal"><a href="#">Stages-Materials</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="myBtn"><a href="/index.html"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
    
<div id="employeeModal" class="modal" ng-controller="employeeCtrl"  style="overflow-y: scroll;">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="close1" class="close">×</span>
      <h2>New User</h2>
    </div>
    <div class="modal-body">
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="U_Name" >Write a user name</label>
                <input id=U_Name type="text" ng-model="U_Name" class="form-control" placeholder="Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="U_LName" >Write a user last name</label>
                <input id=U_LName type="text" ng-model="U_LName" class="form-control" placeholder="Last Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
           <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="U_ID" >Write a user ID</label>
            <input id=U_ID type="number" min="100000000" max="999999999" ng-model="U_ID" class="form-control" placeholder="ID">
                <span class="glyphicon glyphicon-link form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="U_Code" >Write a user code</label>
            <input id=U_Code type="number" ng-model="U_Code" class="form-control" placeholder="Code">
                <span class="glyphicon glyphicon-option-horizontal form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="U_Phone" >Write a user phone</label>    
            <input id=U_Phone type="number" ng-model="U_Phone" class="form-control" placeholder="Phone">
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="sel1">Select user Role</label>
                <select type="text"  name="R_ID" ng-model="R_ID" placeholder="Select User Role" class="form-control" id="sel1" >
                    <option ng-repeat="item in rolelist">{{item.R_ID}}</option>
                </select>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="U_Password">Write a password</label>
                <input id=U_Password type="password" ng-model="U_Password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div align="center">
                <button  ng-click="addUser()" style="margin: 20px 0px 0px 0px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Create User</button>
            </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
    
<div id="stageModal" class="modal"  ng-controller="stageCtrl" style="overflow-y: scroll;" >
  <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span id="close2" class="close">×</span>
          <h2>New Stage</h2>
        </div>
        <div class="modal-body">
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="S_Name">Write a stage name</label>
                    <input id=S_Name type="text" ng-model="S_Name" class="form-control" placeholder="Stage Name">
                    <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="S_Description">Write a stage description</label>
                    <input id=S_Description type="text" ng-model="S_Description" class="form-control" placeholder="Description">
                    <span class="glyphicon glyphicon-list-alt form-control-feedback"></span>
                </div>
    <!--           
               <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="S_DateStart">Start date of Stage</label>
                <input id=S_DateStart type="date" ng-model="S_DateStart" class="form-control" placeholder="Start Day">

                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="S_DateEnd">End date of Stage</label>
                <input id=S_DateEnd type="date" ng-model="S_DateEnd" class="form-control" placeholder="End Day">

                    <span class="glyphicon glyphicon-log-out form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="S_Status">Write a stage status</label>    
                    <input id=S_Status type="text" ng-model="S_Status" class="form-control" placeholder="Status">
                        <span class="glyphicon glyphicon-thumbs-up form-control-feedback"></span>
                </div>


                </div>

    -->         
                <div align="center">
                    <button  ng-click="createStage()" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Create Stage</button>
                </div>
      </div>
      <div class="modal-footer">
      </div>
    </div> 
</div>
    
<div id="projectModal" class="modal" ng-controller= "projectCtrl" style="overflow-y: scroll;">

  <div class="modal-content">
    <div class="modal-header">
      <span id="close3" class="close">×</span>
      <h2>New Project</h2>
    </div>
    <div class="modal-body" >
           
           <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="P_name" >Write a project name</label>
                <input id=P_Name type="text" ng-model="P_Name" class="form-control" placeholder="Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>    
  
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="P_Location" >Write a project location</label>
                <input id=P_Location type="text" ng-model="P_Location" class="form-control" placeholder="Location">
                <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="sel1">Select Engineer or Architect:</label>
                <select type="text"  name="U_ID" ng-model="U_ID" placeholder="Select User" class="form-control" id="sel1" >
                    <option ng-repeat="item in Users">{{item.u_id}}</option>
                </select>
            </div>
             <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="sel1">Select a Client:</label>
                <select type="text"  name="C_ID" ng-model="C_ID" placeholder="Select User" class="form-control" id="sel1" >
                    <option id="client" ng-repeat="item in Clients">{{item.u_id}}</option>
                </select>
            </div>
            <div align="center">
                <button  ng-click="createProject(client)" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Create Project</button>
            </div>   
      </div>
    </div>
</div>


<div id="stageProjectModal" class="modal fade"  role="dialog" style="z-index: 1600;"  ng-controller="stageProjectCtrl" style="overflow-y: scroll;"   >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="close4" class="close">×</span>
      <h2> Stage Information</h2>
    </div>
    <div class="modal-body">
      
           <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="S_DateStart">Set Start Date</label>
            <input id=S_DateStart type="date" ng-model="S_DateStart" class="form-control" placeholder="Start Day">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="S_DateEnd">Set End Date</label>
            <input id=S_DateEnd type="date" ng-model="S_DateEnd" class="form-control" placeholder="End Day">
               
                <span class="glyphicon glyphicon-log-out form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <label for="S_Budget">Write your Budget</label>
            <input id=S_Budget type="number" min = "0" ng-model="S_Budget" class="form-control" placeholder="Your Budget">
               
                <span class="glyphicon glyphicon-usd"></span>
            </div>
        
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="S_Status">Write a stage status</label>    
                <input id=S_Status type="text" ng-model="S_Status" class="form-control" placeholder="Status">
                    <span class="glyphicon glyphicon-thumbs-up form-control-feedback"></span>
            </div>
            <div align="center">
                <button  ng-click="setStage()" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Add Stage</button>
            </div>
            </div>
            
  </div>

</div>

<div id="stageProductModal" class="modal fade "  role="dialog" style="z-index: 1600;"  ng-controller="stageProductCtrl" style="overflow-y: scroll;"   >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header"> 
      <span id="close5" class="close">×</span>
      <h2> Add Products to Stage</h2>
    </div>
    <div class="modal-body">
                <label for="S_Name">Search Products</label>
                        <input id=PR_Name type="text" ng-model="PR_Name" ng-change="getProduct()" class="form-control" placeholder="Write Product Name">

                            <span class="glyphicon glyphicon-log-out form-control-feedback"></span>
                <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th style="width:10%">ID </th>
                    <th style="width:20%">Name</th>
                    <th style="width:30%"> Description</th>
                    <th style="width:15%">Price</th>
                    <th style="width:10%">Amount</th>
                    <th style="width:15%">Add to Cart</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in productList | orderBy:'PR_Name'">
                        
                            <td >{{item.pr_id}}</td>
                            <td>{{item.pr_name}}</td>
                            <td>{{item.pr_description}}</td>
                            <td>{{item.pr_price}}</td>
                            <td><input type="number" min="0" ng-model="amount" >       
                            <td><a class="btn btn-danger btn-xs" ng-click="addToCart(item.pr_id,amount)">
                                        <span class="glyphicon glyphicon-expand"></span></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
                
            </div>
            <div align="center">
                <button  ng-click="addProducts()" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Add Products</button>
            </div>  
  
  </div>
  

</div>  
         
<div id="stageMaterialModal"  ng-controller="stageMaterialCtrl" style="overflow-y: scroll;" class="modal fade" role="dialog" style="z-index: 1400;"  > 
  <!-- Modal content -->s
  <div class="modal-content">
    <div class="modal-header">
      <span id="close6" class="close">×</span>
      <h2> Project Management</h2>
    </div>
    <div class="modal-body">
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="sel1">Select a Project</label>
                <select type="text" ng-model="P_ID"  name="P_ID" ng-change="getProjectDetails()" placeholder="Select Project" class="form-control" id="P_ID" >
                    <option ng-repeat="item in projectList">{{item.p_id}}</option>
                </select>
            </div>
            <div class="box box boxP" id="reward">

            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="S_Name">Search Stage</label>
                    <input id=S_Name type="text" ng-model="S_Name" ng-change="getStages()" class="form-control" placeholder="Write Stage Name">

                        <span class="glyphicon glyphicon-log-out form-control-feedback"></span>
            </div>
            <div class="box-body" style="margin: 20px 0px 0px 0px;">              

                <div align="center" class="col span_1_of_1 table-responsive" style=" margin: 0px 0px 0px 60px;"> 
                        <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr >    
                                <th  >
                                    <h4><b>Stage Name</b>
                                    </h4>
                                </th>  
                                <th >
                                    <h4><b>Description</b>
                                    <span id="value" class=""></span></h4>
                                </th>   
                                <th> 
                                    <h4><b> Options </b>
                                    <span id="value" class=""></span></h4>
                                </th>      
                            </tr>
                        </thead>

                        <tbody>
                            <!--
                              <tr ng-repeat="item in stageList"> -->
                              <tr ng-repeat="item in stageList">  
                                <td>{{item.s_name}}</td>
                                <td>{{item.s_description}}</td>
                           <!--       
                                <td ng-if="i.state == 'false' "> --> 
                                <td>
                                    <div  align="center" class="btn-group">    
                                        <a data-toggle="tooltip" title="Stage Information">

                                            <button id="stageInformation" type="button" class="btn btn-info" data-toggle="modal"      data-target="#stageProjectModal" ng-click="editStage(item)"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                        </a>
                                        <a data-toggle="tooltip" title="Add Products">
                                            <button id="addMaterials" type="button" class="btn btn-success" data-toggle="modal"      data-target="#stageProductModal" ng-click="productStage()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                        </a>
                                        <a data-toggle="tooltip" title="Create Stage">
                                            <button type="button" class="btn btn-primary" ng-click="createStage(i)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        </a> 
                                    </div>
                                </td>
        <!--
                                <td ng-if="i.state == 'true' ">
                                    <div class="btn-group">    
                                        <a data-toggle="tooltip" title={{Idioma.reward[9]}}>
                                            <button id={{i.product}} type="button" class="btn btn-primary" ng-click="editStateUser(i)"><i class="fa fa-toggle-on"></i></button>
                                        </a>
                                        <a data-toggle="tooltip" title={{Idioma.reward[10]}}>
                                            <button type="button" class="btn btn-primary"    ng-click="editUser(i)"><i class="fa fa-pencil-square-o"></i></button>
                                        </a>
                                        <a data-toggle="tooltip" title={{Idioma.reward[11]}}>
                                            <button type="button" class="btn btn-primary" ng-click="deleteUser(i)"><i class="fa fa-close"></i></button>
                                        </a>
                                    </div>
                                </td>
        -->
                            </tr>
                        </tbody>


                    </table>
                    </div>
            </div>
            <div>
                <h3>Project Stages</h3>
                <!--ng-repeat="item in StageList"--> 
                <div class="panel-group" id="accordion" >
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#item">
                        item.S_Name</a>
                      </h4>
                    </div>
                    <div id="item" class="panel-collapse collapse in">
                      <div class="panel-body">
                          
                          <div>
                            <h3>Stage Information</h3>
                              <dl class="dl-horizontal">
                                  <dt>Description</dt>
                                  <dd>item.S_Description</dd>
                                  <dt>Start Date</dt>
                                  <dd>item.S_Description</dd>
                                  <dt>End Date</dt>
                                  <dd>item.S_End</dd>
                                  <dt>Status</dt>
                                  <dd>item.S_Status</dd>
                                  
                             </dl>
                              
                          </div> 
                          <div>
                              <h3>Stage Products</h3>
                              <table id="cart" class="table-responsive table-hover table-condensed" table-responsive >
                                    <thead>
                                        <tr>
                                            <th style="width:50%">Product</th>
                                            <th style="width:10%">Price</th>
                                            <th style="width:8%">Quantity</th>
                                            <th style="width:22%" class="text-center">Subtotal</th>
                                            <th style="width:10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <!-- <tr ng-repeat="item in productsInStage | orderBy:'PR_Name'" > -->
                                            <tr>
                                            <td data-th="Product">
                                                <div class="row">
                                                    <div class="col-sm-2 hidden-xs">item.PR_ID</div>
                                                    <div class="col-sm-10">
                                                        <h4 class="nomargin">item.PR_Name</h4>
                                                        <p>item.PR_Description</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Price">item.PR_Price</td>
                                            <td data-th="Quantity">item.PR_Quantity</td>
                                            <td data-th="Subtotal" class="text-center">item.PR_Price*amount</td>
                                            <td class="actions" data-th=""></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="visible-xs">
                                            <td class="text-center"><strong>Total 1.99</strong></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="2" class="hidden-xs"></td>
                                            <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                               </div>   
                              
                        </div>
                    </div>
                  </div>
                

              </div>
            </div>
            </div>
</div>     
           
             
            <div align="center">
                <button  ng-click="addProducts()" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Add Products</button>
            </div>    
            </div>
            
         
           
  
  </div>

 
    


    

</body>
</html>




<!--
<div id="projectModal" class="modal" ng-controller= "projectCtrl" style="overflow-y: scroll;">
  <!-- Modal content 
  <div class="modal-content">
    <div class="modal-header">
      <span id="close3" class="close">×</span>
      <h2>New Project</h2>
    </div>
    <div class="modal-body" >
           <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <input id=P_Name type="text" ng-model="P_Name" class="form-control" placeholder="Name">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            
           <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
            <input id=P_ID type="number" ng-model="P_ID" class="form-control" placeholder="ID">
                <span class="glyphicon glyphicon-link form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <input id=P_Location type="text" ng-model="P_Location" class="form-control" placeholder="Location">
                <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
            </div>
            


            <div class="row-fluid">
            <select class="selectpicker" data-show-subtext="true" data-live-search="true" ng-repeat = "item in Users" id = "U_ID"  ng-model = "U_ID">
                <option data-subtext=item.U_name>item.U_ID</option>
           
            </select>

            </div>
            Stages
            <select id="CuisineList"></select>
        
            <select class="selectpicker" multiple ng-repeat= "item in prueba" id = "S_List" ng-model = "S_List" >
              <option>prueba.pop()</option>
       
            </select>

              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Collapsible Group X</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body"><h4>Search Product</h4>
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                            <input id=S_Name type="text" ng-model="S_Name" class="form-control" placeholder="Product Name">
                            <a ng-click="addProduct()" class="btn btn-primary btn-xs" >Search Product</a>
                        </div>
                        <table id="cart" class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:50%">Product</th>
                                        <th style="width:10%">Price</th>
                                        <th style="width:8%">Quantity</th>
                                        <th style="width:22%" class="text-center">Subtotal</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in productList | orderBy:'PR_Name'" >
                                        <td data-th="Product">
                                            <div class="row">
                                                <div class="col-sm-2 hidden-xs">item.PR_ID</div>
                                                <div class="col-sm-10">
                                                    <h4 class="nomargin">item.PR_Name</h4>
                                                    <p>item.PR_Description</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Price">item.PR_Price</td>
                                        <td data-th="Quantity">
                                            <input type="number" class="form-control text-center" ng-model="amount">
                                        </td>
                                        <td data-th="Subtotal" class="text-center">item.PR_Price*amount</td>
                                        <td class="actions" data-th="">
                                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="visible-xs">
                                        <td class="text-center"><strong>Total 1.99</strong></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Clean All </a></td>
                                        <td colspan="2" class="hidden-xs"></td>
                                        <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                                        <td><a ng-click="addStage()"  class="btn btn-success btn-block">Add Stage <i class="fa fa-angle-right"></i></a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                  </div>
                

              </div>
            </div>
            
            <div align="center">
                <button  ng-click="checkUser()" style="margin: 20px 0px 0px 0px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Create Project</button>
            </div>
    </div>
    
  </div>-->




