<!DOCTYPE html>
<html lang="en">
<!--Upload the angular, scripts,css and bootstrap-->
<head>
  <title>GENERAL USER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/angular-1.5.8/angular.js"></script>
    <script src="/angular-1.5.8/angular.min.js"></script>
    
    <script src="/js/jquery-3.1.0.js"  type="text/javascript"></script>
    <script src="/js/generalView.js"  type="text/javascript"></script>
    <link rel="stylesheet" href="/css/index.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    
    
  
    
</head>
<body ng-app="generalView" >
<!--Show all option that  general user can do-->
<div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
             
          <a class="navbar-brand" id="idUser" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/pages/generalView.html">Home</a></li>
            <li id="projectMaterial" role="button" data-toggle="modal" data-target="#projectMaterialModal"><a href="#">Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="myBtn"><a href="/index.html"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>
  
<!--Modal where show all projects stage that will start in the next 15 days-->    
<div id="projectMaterialModal"  ng-controller="projectMaterialCtrl" style="overflow-y: scroll;" class="modal fade" role="dialog" style="z-index: 1400;"  > 
  <!-- Modal content -->s
  <div class="modal-content">
    <div class="modal-header">
      <span id="close1" class="close">×</span>
      <h2> Project Management</h2>
    </div>
    <div class="modal-body">
            <div class="box box boxP" id="reward">
             
            <!--Search a stage that has a specific product-->
            <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="S_Name">Search By Materials</label>
                    <input id=S_Name type="text" ng-model="S_Name" ng-change="getProjectByMaterial()" class="form-control" placeholder="Write a Material Name">

                        <span class="glyphicon glyphicon-log-out form-control-feedback"></span>
            </div>
             
                 
           
              <!--Table that show all prject stage information-->     
            <div class="box-body" style="margin: 20px 0px 0px 0px;">              

                <div align="center" class="col span_1_of_1 table-responsive" style=" margin: 0px 0px 0px 0px;"> 
                        <table id="tableProject" class="table table-bordered table-striped">
                        <thead>
                            <tr >    
                                <!--The projects and user id wont show to the user-->
                                <th style="display:none;" >
                                    <h4><b>Project ID</b>
                                    </h4>
                                </th>
                                <th style="display:none;" >
                                    <h4><b>User ID</b>
                                    </h4>
                                </th>
                               
                                <th  >
                                    <h4><b>Client</b>
                                    </h4>
                                </th>
                                <th  >
                                    <h4><b>Phone</b>
                                    </h4>
                                </th>
                                
                                <th >
                                    <h4><b>Location</b> </h4>
                                  
                                </th>
                                 <th  >
                                    <h4><b>Stage</b>
                                    </h4>
                                </th>
                                <th  >
                                    <h4><b>Start Date</b>
                                    </h4>
                                </th>
                                 <th  >
                                    <h4><b>Status</b>
                                    </h4>
                                </th>
                                <th  >
                                    <h4><b>Finish</b>
                                    </h4>
                                </th>
                                <th> 
                                    <h4><b> Comments </b> </h4>
                                  
                                </th> 
                                
                            </tr>
                        </thead>

                        <tbody>
                    
                              <tr  ng-repeat="item in projectlist">  
                                 
                                <td  style="display:none;">{{item.gcs_pid}}</td>
                                <td  style="display:none;">{{item.gcs_uid}}</td>
                                <td>{{item.gcs_uname}}</td>
                                <td>{{item.gcs_uphone}}</td>
                                <td>{{item.gcs_plocation}}</td>
                                <td>{{item.gcs_sname}}</td>
                                <td>{{item.gcs_datestart}}</td>
                                
                                <td>{{item.gcs_status}}</td>
                                  <!--Change the stage status to ready-->
                                <td><a data-toggle="tooltip" title="Finish Stage">
                                            <button type="button" ng-click="updateStatus(item,item.gcs_pid,item.gcs_sname)" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        </a> 
                                  </td>
                              
                                  <!--Show all comment about this stage-->
                                <td><div  align="center" class="btn-group">    
                                        <a data-toggle="tooltip" title="Comment Information">
                                             <a ng-click="getComment(item.gcs_pid,item.gcs_uid,item.gcs_sname)" id="commentMaterial" role="button" data-toggle="modal" data-target="#commentModal" href="#">Show All Comments</a>                                        
                                        </a>
                                        
                                    </div>
                                        
                                  
                                </td>
        
                            </tr>
                        </tbody>


                    </table>
                    </div>
            </div>

            </div>
</div>     
   
            </div>
            
                   
  
  </div>

  <!--Modal where show all comment about a specific stage--> 
 <div id="commentModal" class="modal" ng-controller="commentCtrl" style="overflow-y: scroll;">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span id="close4" class="close">×</span>
      
      
    </div>
    <div class="modal-body">
        
      
          <!--Comment Box-->
        <div  id="comment_box">
            <h3>Comments</h3>
            
            <!-- Style of the css to the all comment box --->
            <style type="text/css">#comment_box #comment_form{padding-bottom:1em}#comment_box .hcb-link{cursor:pointer}#comment_box .hcb-icon{border:0px transparent none}#comment_box textarea {display:block;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%}#comment_box blockquote{margin:10px;overflow:hidden}#comment_box .hcb-err{color:red}#comment_box .hcb-comment-tb{margin:0}#comment_box .comment{position:relative}#comment_box .comment .likes{position:absolute;top:0;right:0;opacity:0.8}#comment_box .comment .hcb-comment-tb a{visibility:hidden}#comment_box .comment:hover .hcb-comment-tb a{visibility:visible}#comment_box .gravatar{padding-right:2px}#comment_box input{margin-left:0}</style>
            <p id="hcb_msg"></p>
            <div id="comment_form">
                
                <!-- Comment Box form --->
                <form id="hcb_form" onsubmit="return hcb.submit()" action="//www.htmlcommentbox.com/post" method="post">
                    <input type="hidden" name="page" value="http://127.0.0.1:8213/pages/clientView.html?commentContent=asdasd&amp;name=ad#" id="hcb_form_page">
                    <input type="hidden" id="hcb_refer" name="refer" value="http://127.0.0.1:8213/pages/clientView.html?commentContent=asdasd&amp;name=ad##comment_box">
                    <input type="hidden" name="opts" value="16862" id="hcb_form_opts">
                    <input type="hidden" name="mod" value="" id="hcb_form_mod">
                    <input type="hidden" name="replies_to" value="" id="hcb_form_replies_to">
                    <input type="hidden" name="charset" value="UTF-8" id="hcb_form_charset">
                    <div class="hcb-wrapper-half input-field">
                        <div class="hcb-shadow-t">
                        <div class="hcb-shadow-tl"></div> 
                        <div class="hcb-shadow-tr"></div> 
                        </div> 
                        
                     </div><div class="hcb-wrapper">
                    <div class="hcb-shadow-m">
                        
                        <!-- Comment box where the user insert the comments about the stage from the project --->
                        <textarea onkeypress="hcb.delta(event)" ng-model="C_Description" class="commentbox hcb-shadow-r" name="content" id="hcb_form_content" rows="4" placeholder="Enter your comment here"></textarea></div> 
                    <div class="hcb-shadow-b"> 
                        <div class="hcb-shadow-bl"></div> 
                        <div class="hcb-shadow-br"></div> </div>
                    <div class="hcb-shadow-clear"></div></div>
                    
                    <!-- Button that send the information to the data base --->
                    <div><input class="submit btn" id="hcb_submit" ng-click="addComment()" type="submit" value="Comment">&nbsp;<span class="home-desc" style="font-size:10px">&nbsp;</span></div>
                    <a data-toggle="tooltip" title="Comment Information">
                     <a ng-click="displayComment()" id="displayCommentId" role="button">Display</a>                                        
                    </a>
                    
                    <!-- Show all comments from the data base --->
                    <div class="comment"  id="comment_11251793"><blockquote ng-repeat="item in commentlist">{{item.c_description}}  </blockquote><p class="hcb-comment-tb"><a class="hcb-flag" href="javascript:hcb.flag('11251793')"><img src="//www.htmlcommentbox.com/static/images/flag.png"> flag</a> <a class="hcb-like" href="javascript:hcb.like('11251793')"><img src="//www.htmlcommentbox.com/static/images/like.png"> like</a> <a class="hcb-reply" href="javascript:hcb.reply('11251793')"><img src="//www.htmlcommentbox.com/static/images/reply.png"> reply</a> </p><div class="likes" style="display:none"><span>0 </span><img src="//www.htmlcommentbox.com/static/images/like.png"></div></div>
                    
                    
                    
                </form></div>
           </div>
        
        <!-- Script for the the comment box --->
        <script  type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1476347274296");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
        

    
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>                  
  
 


</body>
</html>
